<app-header></app-header>
<div class="container-fluid container-wrap z-depth-5">
  <app-preloader *ngIf="!show"></app-preloader>
  <div *ngIf="show" class="row">
    <div class="col m12">
      <div class="card horizontal">
        <div class="card-wrap">
          <div class="card-image main-card-image">
            <img [src]="show.image?.medium">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>{{show.name}}
                <ng-container *ngFor="let i of [].constructor(show.rating.average)">
                  <i class="material-icons star">star</i>
                </ng-container>
              </h5>
              <h6>
                Every:
                <ng-container *ngFor="let day of show.schedule.days">
                  {{day}}
                </ng-container>
                at {{show.schedule.time}}
              </h6>
              <div [innerHTML]="show.summary"></div>
            </div>
            <div class="card-action">
              <button class="btn waves-effect waves-light" routerLink="/home">Go home
                <i class="material-icons right">home</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m12">
      <ul class="collection">
        <a class="collection-item avatar" *ngFor="let item of seasons"
           [routerLink]="'/show/' + show.id + '/season/' + item.id">
          <img [src]="item.image?.medium || show.image?.medium" class="circle">
          <span class="title">{{item.name}}</span>
          <p>Season #{{item.number}}
            <br>
            Include {{item.episodeOrder || '?'}} episodes
          </p>
          <i class="secondary-content material-icons">send</i>
        </a>
      </ul>
    </div>
  </div>
</div>


