<div *ngIf="lastViewsShows" class="container-fluid container-wrap">
  <div class="row">
    <h3>LAST VIEWS</h3>
  </div>
  <div class="row z-depth-5">
    <ng-container *ngFor="let item of lastViewsShows | slice:0:5 ">
      <div class="col m3 last-item">
        <div class="card horizontal">
          <div class="card-wrap">
            <div class="card-image main-card-image">
              <img [src]="item.show.image.medium">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <b>{{item.show.name}}</b>
                <p>Last View: {{item.lastView | date: 'MMM d, y, h:mm a'}}</p>
              </div>
              <div class="card-action">
                <a target="_blank"
                   [href]="item.url">Watch now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>


