.container-fluid {
  margin: 1rem;
}
.container-wrap {
  max-width: 780px;
  margin: 1rem auto;
  display: block;
  padding: 1rem;
}

.row h4 {
  text-align: center;
}

.btn {
  width: 100%;
}

.error-row {
  margin: 0;
  text-align: center;
  color: #ed706d;
}

.error-border {
  border-color: #ed706d !important;
}

.icon-color {
  color: #00ba9b;
}
