<div class="container-fluid container-wrap">
  <div class="row">
    <h4>RANDOMLY</h4>
  </div>
  <div class="row z-depth-5">
    <ng-container *ngFor="let item of shows">
      <div class="col m3 last-item">
        <div class="card horizontal">
          <div class="card-wrap">
            <div class="card-image main-card-image">
              <a [routerLink]="'/show/' + item.id">
                <img [src]="item.image?.medium">
              </a>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <b>{{item.name}}</b>
                <div [innerHTML]="item.summary?.slice(0, 75) + '...'"></div>
              </div>
              <div class="card-action">
                <button class="btn waves-effect waves-light btn-small"
                        [routerLink]="'/show/' + item.id">Watch
                  <i class="material-icons right">live_tv</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>


