<app-header></app-header>
<div class="container-fluid container-wrap z-depth-5">
  <app-preloader *ngIf="!episode"></app-preloader>
  <div *ngIf="episode" class="row">
    <div class="col m12">
      <div class="card horizontal">
        <div class="card-wrap">
          <div class="card-image main-card-image">
            <img [src]="episode.image?.medium || show.image?.medium">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>{{episode.name || show.name}} (Episode #{{episode.number}})</h5>
              <div [innerHTML]="episode.summary || show.summary"></div>
            </div>
            <div class="card-action">
              <button class="btn waves-effect waves-light" [routerLink]="'/show/' + show.id">back to show
                <i class="material-icons right">home</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m12">
    </div>
  </div>
</div>


