.container-fluid {
  margin: 1rem;
}

.card,.horizontal .card-wrap {
  display: flex;
  width: 100%;
}

app-preloader {
  margin: 0.5rem 0 0.5rem 3rem;
}

.main-card-image {
  display: flex;
  overflow: hidden;
  max-width: none !important;
  margin: 0;
}

.mini-card-image {
  width: 4rem;
  display: flex;
}

.mini-card-image a {
  display: flex;
}

.mini-horizontal .card-content,.card-action {
  padding: 5px 20px 5px 20px;
}

.row {
  margin-bottom: 0;
}

.container-wrap {
  max-width: 1280px;
  margin: 1rem auto;
  display: block;
}

.container-wrap .row {
  display: flex;
  align-items: center;
}

.card-action a {
  color: #ed706d !important;
}
